@import "../../scssDefault/default";

.input-container {
    display: flex;
    justify-content: space-between;
    input {
        flex-grow: 1;
        outline: none;
        border: $border;
        padding: 0 10px;
        font-size: 18px;
    }
    button {
        padding: 10px 20px 10px 18px;
        background: $black;
        color: $yellow;
        outline: none;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }
}